*{
    direction: rtl ;
}
.modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
ion-content{
    background: -webkit-linear-gradient(180deg, #FF512F 10%, rgb(255, 248, 46) 90% ); 
    background: -moz-linear-gradient(180deg, #FF512F 10%, rgb(255, 248, 46) 90% );
    background: -ms-linear-gradient(180deg, #FF512F 10%, rgb(255, 248, 46) 90% );
    background: -o-linear-gradient(180deg, #FF512F 10%, rgb(255, 248, 46) 90% );
    background: linear-gradient(180deg, #FF512F 10%, rgb(255, 248, 46) 90% );
}
page-app{
    ion-list{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
