page-content {
    ion-content{
        background-repeat: no-repeat;
        background-position: center;
        background-size:100% 100%;
    }
    .list{
        font-size: 25px;
        color: white;
    }
}
